In [38]:
import pandas as pd
from datetime import datetime

In [5]:
df = pd.read_csv('./lesson_1_data.csv', encoding='windows-1251', sep=';')

In [6]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [7]:
df.head(10)

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN
5,1062900,03.12.2019 21:49,NaN,Курс обучения «Консультант»,Отменен,0.0,Краснодарский край,NaN
6,1062911,04.12.2019 13:12,NaN,Курс обучения «Консультант»,Отменен,0.0,NaN,NaN
7,1062914,04.12.2019 14:57,NaN,Курс обучения «Консультант»,Отменен,0.0,Республика Башкортостан,NaN
8,1062915,04.12.2019 16:08,NaN,Курс обучения «Эксперт»,Отменен,0.0,Тульская область,NaN
9,1062925,04.12.2019 21:51,NaN,Курс обучения «Эксперт»,Отменен,0.0,Республика Татарстан,NaN

In [8]:
df.tail(10)

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
282,1064682,29.12.2019 13:58,31.12.2019 12:25,Курс обучения «Консультант»,Завершен,8374.82,г.Москва и Московская область,Сбербанк эквайринг
283,1064686,29.12.2019 15:52,NaN,Курс от Школы Диетологов. Повышение квалификац...,Частично оплачен,0.00,Чеченская Республика,Бонусный счет
284,1064689,29.12.2019 16:52,29.12.2019 17:02,Курс от Школы Диетологов. Бизнес,Завершен,5398.56,г.Москва и Московская область,"Сбербанк эквайринг,Бонусный счет"
285,1064692,29.12.2019 17:13,NaN,Курс обучения «Консультант»,Отменен,0.00,Свердловская область,NaN
286,1064712,29.12.2019 22:58,30.12.2019 10:56,Курс обучения «Специалист»,Завершен,3591.84,Тамбовская область,"Сбербанк эквайринг,Бонусный счет"
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [9]:
df.shape

(292, 8)

In [10]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [11]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [12]:
df = df.rename(columns={'Номер':'number',
               'Дата создания':'create_date',
               'Дата оплаты':'payment_date',
               'Title':'title',
               'Статус':'status',
               'Заработано':'money',
               'Город':'city',
               'Платежная система':'payment_system'})

In [13]:
df.columns

Index(['number', 'create_date', 'payment_date', 'title', 'status', 'money',
       'city', 'payment_system'],
      dtype='object')

In [30]:
df.title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [31]:
df.title.nunique()

6

In [32]:
count_title = df.title.nunique()

In [14]:
df[['title', 'money']]

                                                 title     money
0                              Курс обучения «Эксперт»  29597.50
1                              Курс обучения «Эксперт»  17450.30
2                           Курс обучения «Специалист»      0.00
3                          Курс обучения «Консультант»      0.00
4                              Курс обучения «Эксперт»      0.00
..                                                 ...       ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...   2935.44
288                        Курс обучения «Консультант»      0.00
289                        Курс обучения «Консультант»   7423.92
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...   2935.44
291  Курс от Школы Диетологов. Повышение квалификац...   9898.56

[292 rows x 2 columns]

In [15]:
df.payment_system

0                    Сбербанк эквайринг
1                          Яндекс.Касса
2                                   NaN
3                                   NaN
4                                   NaN
                     ...
287                        Яндекс.Касса
288                                 NaN
289    Сбербанк эквайринг,Бонусный счет
290                        Яндекс.Касса
291    Сбербанк эквайринг,Бонусный счет
Name: payment_system, Length: 292, dtype: object

In [16]:
all_money = df.money.sum()
all_money

992103.5900000001

In [19]:
df.groupby('title', as_index=False) \
.aggregate({'money': 'sum'}) \
.sort_values('money', ascending=False)

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

In [20]:
df.groupby(['title', 'city'], as_index=False) \
.aggregate({'money': 'sum'}) \
.sort_values('money', ascending=False)

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [21]:
money_by_city = df.groupby(['title', 'city'], as_index=False) \
.aggregate({'money': 'sum'}) \
.sort_values('money', ascending=False)

In [22]:
money_by_city.to_csv('money_by_city.csv', index=False)

In [29]:
money_title = df \
.query("status == 'Завершен'") \
.groupby('title', as_index=False) \
.aggregate({'money': 'sum', 'number': 'count'}) \
.sort_values('money', ascending=False) \
.rename(columns={'number': 'success_orders'})

money_title

,title,money,success_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3

In [44]:
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = 'money_title_{}.csv'
file_name = file_name.format(today_day)

In [34]:
count_title == len(money_title)

True

In [46]:
if int(money_title.money.sum()) == int(all_money):
    money_title.to_csv(file_name, index=False)
    print('Success! File {} wrote.'.format(file_name))
else:
    print('DATA Error!')

Success! File money_title_2023-07-18.csv wrote.

'money_title_2023-07-18.csv'